<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <title>Diarium</title>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
            <div class="login-container">
                <form class="login">
                    <input name="PESEL" type="text" placeholder="PESEL">
                    <input name="password" type="password" placeholder="password">
                    <input name="rememberMe" type="checkbox" value="lsRememberMe" id="rememberMe">
                    <button type="submit">LOGIN</button>
                </form>
            </div>
        </div>

    </body>
</html>

