.base-container{
    display: flex;
    justify-content: center; /*jesli menu si epojawi, to może lepiej na flex-start*/
    align-items: center;
    height: 100vh;
}

body{ /*inaczej jest biała ramka*/
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #6EADC1 65.62%, rgba(134, 166, 176, 0.15) 100%) no-repeat fixed center;
    background-size: cover;
    color: #FFFFFF;
    line-height: 4em;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #B8D8E2;
    width: 65%;
    letter-spacing: 20px;
    font-size: 2em;
}

.button {
    text-align: center;
    letter-spacing: 0.5px;
    color: black;
    width: 10%;
}

input.fileButton {
    background: transparent;
    box-shadow: 0px 0px 0px 0px transparent;
    border-radius: 0px;
}

input, select {
    background: #C5D1D5;
    width: 15vw;
    height: 6vh;
    /*line-height: 1.75em;*/

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.75em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section.user-form {
    display: flex;
    flex-direction: column;
}

.user-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 10%;
}